[flake8]
exclude =
	.git,
	node_modules,
filename =
	./lambda/*.py,
ignore =
	# Shortening lines to fit them on screen mixes up content and display. Fix your editor, not my code.
	E501,
	# tabs FTW
	W191,
